/* container */
.container {width: 1000px; margin: 0 auto;}

/* row */
.row {position: relative; margin: 0 20px; }

/* header */
#header {
    height: 100px;
}
#header .header-date {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: #A8A8AA;
    letter-spacing: -0.24px;
    padding-top: 30px;
    display: block;
}
#header .header-title {
    font-weight: bold;
    font-size: 32px;
    color: #000;
    font-family: "SF Display";
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
#header .header-id {
    position: absolute; right: 0; bottom: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #fff;
    font-weight: 300;
    font-size: 18px;
    /* text-align: center;
    line-height: 40px; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    background: linear-gradient(180deg, #A4A9B5 0%, #898E99 100%), #9497A5;
}

/* bestM */
.bestM .best-title .bt-stit {color: #BA5E7C; font-size: 12px; line-height: 1.67;}
.bestM .best-title .bt-tit {font-size: 22px; padding-bottom: 5px;}
.bestM .best-title .bt-desc {font-size: 22px; font-weight: 300; color: #818181;
 margin-bottom: 10px;}

/* recentM */
.recentM {padding: 10px 0; margin-top: 19px; overflow: hidden;}
.recentM .recent {float: left; width: 49%; margin-right: 2%;}
.recentM .recent:last-child {margin-right: 0;}
.recentM h2 {font-size: 20px; font-weight: bold; margin-bottom: 12px; margin-top: 16px; 
 border-top: 1px solid #ebebeb; padding-top: 20px;}
.recentM .recent-title .rt-stit {font-size: 15px; line-height: 1.9;}
.recentM .recent-title .rt-tit {color:#908f94; font-size: 15px; font-weight: 300;}

/* nextM */
.nextM {}
.nextM h2 {font-size: 20px; font-weight: bold; margin-bottom: 12px; margin-top: 16px; 
 border-top: 1px solid #ebebeb; padding-top: 20px;}
.nextM .next {display: flex; margin-bottom: 16px; position: relative;}
.nextM .next:after {
	content:'';
	position: absolute; right: 0; bottom: 0;
	width: calc(100% - 90px);
	height: 1px; background: #ebebeb;
}
.nextM .next .next-img {width: 102px; margin-right: 12px;}
.nextM .next .next-title {display: flex; flex-direction: column; justify-content: center;}
.nextM .next .next-title .nt-stit {color: #da5e7c; font-size: 12px;}
.nextM .next .next-title .nt-tit {font-size: 16px;}
.nextM .next .next-title .nt-desc {font-size: 13px; color: #a1a1a1; font-weight: 300;
	text-overflow: ellipsis; /* 두줄 효과 */
	overflow: hidden; /* 두줄 효과 */
	display: -webkit-box; /* 두줄 효과 */
	-webkit-line-clamp: 2; /* 두줄 효과 */
	-webkit-box-orient:vertical; /* 두줄 효과 */
}

/* mediaquery */
@media (max-width: 1020px){
    .container {width: 100%;}
}
